@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
	--color-primary: hsl(30, 38%, 92%);
	--color-secondary: rgb(60, 128, 103);
	--color-secondary-dark: rgb(40, 84, 68);
	--color-dark: hsl(212, 21%, 14%);
	--color-light: hsl(228, 12%, 48%);
	--color-white: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fraunces', serif;
	color: var(--color-dark);
}

p,
div,
span,
small,
label,
input,
textarea {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

body {
	background-color: var(--color-primary);
}

section {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mb {
	margin-bottom: 2rem;
}

.card {
	display: flex;
	max-width: 600px;
	margin: 20px;
	width: 100%;
	border-radius: 12px;
	background-color: var(--color-white);
}

.card > div {
	width: 50%;
}

.card__image {
	font-size: 0px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.card__image > img {
	border-radius: inherit;
}

.card__image-desktop {
	display: block;
}

.card__image-mobile {
	display: none;
}

.card__body {
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.card__subtitle {
	letter-spacing: 0.2rem;
	color: var(--color-light);
	margin-bottom: 1.5rem;
}

.card__title h1 {
	font-size: 2rem;
}

.card__description p {
	color: var(--color-light);
	line-height: 1.5rem;
}

.card__price {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.card__price h2 {
	font-size: 1.8rem;
	color: var(--color-secondary);
}

.card__price p {
	color: var(--color-light);
	text-decoration: line-through;
}

.card__cta {
	margin-top: auto;
}

.card__cta button {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: var(--color-secondary);
	border: none;
	color: var(--color-white);
	gap: 12px;
	padding: 16px;
	border-radius: 8px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.25s ease-out;
}

.card__cta button:hover {
	background-color: var(--color-secondary-dark);
}

@media screen and (max-width: 520px) {
	.mb {
		margin-bottom: 1.5rem;
	}

	.card {
		flex-direction: column;
		max-width: 350px;
		margin: 12px;
	}

	.card > div {
		width: 100%;
	}

	.card__body {
		padding: 1.5rem;
	}

	.card__image {
		font-size: 0px;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-left-radius: 0px;
	}

	.card__image-desktop {
		display: none;
	}

	.card__image-mobile {
		display: block;
	}
}
